* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.git_practice {
    padding: 40px;
}

.section_1, .section_2 {
    padding: 20px;
}


.btn {
    padding: 8px 20px;
}

.btn_1, .btn_2 {
    padding: 15px 38px;
    font-size: 1rem;
    margin-left: 10px;
    border: 1px solid gray;
    cursor: pointer;
    transition-duration: 400ms;
}

.btn_1:hover, .btn_2:hover {
    background-color: dodgerblue;
    color: aliceblue;
}

